<div mat-dialog-content class="dialog-content">
  <h2 class="dialog-title">Agregar Asistencia</h2>
  <form [formGroup]="asistenciaForm" (ngSubmit)="onSave()">
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Sección" formControlName="section">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Horario" formControlName="schedule">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Tipo" formControlName="type">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Tolerancia" formControlName="tolerance">
    </mat-form-field>
    <div class="dialog-actions">
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!asistenciaForm.valid">Guardar</button>
    </div>
  </form>
</div>