.app-layout {
  display: flex;
  min-height: 100vh;
}

app-sidebar {
  flex: 0 0 200px; /* Ancho fijo del sidebar */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.custom-dialog .mat-dialog-container {
  padding: 24px; /* espacio interno */
  border-radius: 12px; /* opcional */
  box-sizing: border-box;
}

