<div class="modal-content-container">
  <mat-toolbar class="toolbar">
    <span style="font-weight: bold;">TRABAJADORES ASIGNADOS</span>
  </mat-toolbar>

  <table mat-table [dataSource]="data.trabajadoresAsignados" class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="apellidoPaterno">
      <th mat-header-cell *matHeaderCellDef>Apellido Paterno</th>
      <td mat-cell *matCellDef="let element">{{ element.apellidoPaterno }}</td>
    </ng-container>

    <ng-container matColumnDef="apellidoMaterno">
      <th mat-header-cell *matHeaderCellDef>Apellido Materno</th>
      <td mat-cell *matCellDef="let element">{{ element.apellidoMaterno }}</td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef>DNI</th>
      <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef>Teléfono</th>
      <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Desasignar</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="btn-remove" (click)="onDesasignar(element)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div *ngIf="trabajadoresDesasignados.length > 0" class="selected-section">
    <h3>Cantidad de trabajadores a desasignar: {{ trabajadoresDesasignados.length }}</h3>
    <ul>
      <li *ngFor="let trabajador of trabajadoresDesasignados">
        {{ trabajador.nombre }} {{ trabajador.apellidoPaterno }} {{ trabajador.apellidoMaterno }}
        <button mat-icon-button color="warn" (click)="onRemove(trabajador)">
          <mat-icon>remove</mat-icon>
        </button>
      </li>
    </ul>
  </div>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onConfirm()">Confirmar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </div>
</div>
